<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DDDSample.Reporting.Properties.Settings.DDDSampleCQRSConnectionString"
            connectionString="Data Source=SIMON-HP;Initial Catalog=DDDSampleCQRS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>